@font-face { 
  font-family: 'NexaBold';
  src: url('./../fonts/NexaBold.woff');
  src: url('./../fonts/NexaBold.woff2');
}

@font-face { 
  font-family: 'HavenirNext Italic';
  src: url('./../fonts/AvenirNextLTPro-HeavyCnIt.woff');
  src: url('./../fonts/AvenirNextLTPro-HeavyCnIt.woff2');
}

@font-face { 
  font-family: 'HavenirNext Regular';
  src: url('./../fonts/AvenirNextLTPro-Regular.woff');
  src: url('./../fonts/AvenirNextLTPro-Regular.woff2');
}

@font-face { 
  font-family: 'Fontfabric - Nexa Rust Slab Black Shadow 01';
  src: url('./../fonts/NexaRustSlab-BlackShadow01.woff');
  src: url('./../fonts/NexaRustSlab-BlackShadow01.woff2');
}
