// Colors Black and White
$white: #FFFFFF;
$light-gray: #F9F9F9;
$gray: #EBEBEB;
$black: #333333;

// Colors Theme
$primary: #273959;
$secondary: #d0673b;
$green-theme: #62ba88;

$transition-default: all ease-in-out .4s; 
