/*#region ---> Imports <---*/
@import "variables";
/*#endregion*/

/*#region ---> Default <---*/
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;

}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.section--padding {
  padding: 40px 0;
}

.text-white {
  color: $white;
}

.text-center {
  text-align: center;
}

h2.title {
  font-weight: 600;
  color: $white;
  position: relative;
  font-size: 30px;
  padding-bottom: 20px;
  margin-bottom: 20px;

  &:after {
    content: ' ';
    width: 150px;
    height: 3px;
    background: $gray;
    position: absolute;
    left: 0;
    bottom: 0;
  }
}

h3.title {
  font-size: 26px;
  color: $white;
  font-weight: 400;
}

.btn {
  width: auto;
  height: auto;
  text-align: center;
  padding: 16px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 30px;
  font-weight: 600;
  cursor: pointer;
  transition: $transition-default;
  text-transform: uppercase;
}

.btn--primary {
  background: $green-theme;
  color: $white;

  &:hover {
    background: $primary;
  }
} 
/*#endregion*/
