section.challenge-fullbanner {
  width: 100%;
  height: 90vh;
  background: url('../img/challenge-fullbanner.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;

  .btn {
    position: absolute;
    left: 50%;
    bottom: 100px;
    padding: 16px 20px;
    transform: translateX(-50%);
  }
}

.challenge-understand {
  width: 100%;
  height: auto;
  
  a.btn {
    display: inline-block;
    margin: 20px auto 0;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .understand-title {
    width: 100%;
    display: flex;
    margin-bottom: 40px;

    img {
      margin: 0 auto;
    }
  }

  .wrapper-understand {
    display: flex;
    justify-content: space-between;
  }

  .wrapper-understand--left,
  .wrapper-understand--right {
    width: 50%;
  }

  .wrapper-understand--left {
    padding-right: 10px;

    ul > li {
      color: $primary;
      font-size: 1.2em;
      display: flex;
      align-items: center;
      margin-bottom: 34px;

      img {
        margin-right: 10px;
      }

      span {
        color: $secondary;
        font-weight: 800;
        margin: 0 5px;
      }
    }
  }

  .wrapper-understand--right {
    padding-left: 10px;

    .understand-top {
      width: 597px;
      height: 134px;
      background: url('../img/understand-top.png') no-repeat;
      background-size: contain;
      margin-bottom: 10px;
    }

    .understand-bottom {
      width: 597px;
      height: 259px;
      background: url('../img/understand-bottom.png') no-repeat;
      background-size: contain;
    }
  }
}
