section.challenge-fullbanner {
  width: 100%;
  height: 640px;
  background: url('../img/challenge-fullbanner.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;

  .btn {
    position: absolute;
    left: 50%;
    bottom: 100px;
    transform: translateX(-50%);
  }
}




section.challenge-understand {
  width: 100%;
  height: auto;
  position: relative;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 40px;


  &:before {
    content: '';
    position: absolute;
    top: -64px;
    width: 100%;
    height: 64px;
    background: url('../img/understand--top.png') no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1;
  }
  
  &:after {
    content: '';
    position: absolute;
    bottom: -125px;
    width: 100%;
    height: 135px;
    background: url('../img/understand--bottom.png') no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1;
  }
  
  a.btn {
    display: inline-block;
    margin: 20px auto 0;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .understand-title {
    width: 100%;
    display: flex;
    margin-bottom: 40px;

    img {
      margin: 0 auto;
    }
  }

  .wrapper-understand {
    display: flex;
    justify-content: space-between;
  }

  .wrapper-understand--left,
  .wrapper-understand--right {
    width: 50%;
  }

  .wrapper-understand--left {
    padding-right: 10px;

    ul > li {
      color: $primary;
      font-size: 1.1em;
      display: flex;
      align-items: center;
      margin-bottom: 34px;

      img {
        margin-right: 10px;
      }

      span {
        color: $secondary;
        font-weight: 800;
        margin: 0 5px;

      }
    }

    ul {
      li:nth-child(2),
      li:nth-child(3),
      li:nth-child(4) {
        span {  
          &:last-child {
            margin-right: 0;
          }
        }
      }

      li:nth-child(6) {
        span {  
          &:first-child {
            margin-left: 0;
          }
        }
      }
    }
  }

  .wrapper-understand--right {
    padding-left: 10px;

    .understand--content {
      padding: 20px 20px 10px 150px;

      h4 {
        font-family: 'Nexa Rust Script L - 0';
        font-size: 2em;
        font-weight: lighter;
      }

      p {
        font-family: 'HavenirNext Regular';
        font-weight: 100;
        font-size: 1.1em;
      }
    }


    .understand-top {
      width: 597px;
      height: 134px;
      background: url('../img/understand-top.png') no-repeat;
      background-size: contain;
      margin-bottom: 10px;
    }

    .understand-bottom {
      width: 597px;
      height: 259px;
      background: url('../img/understand-bottom.png') no-repeat;
      background-size: contain;
    }
  }
}




section.challenge-call {
  width: 100%;
  height: 580px;
  background: url('../img/challenge-call.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  h3 {
    font-family: 'HavenirNext Italic';
    font-size: 4.5em;
    letter-spacing: 3px;
  }

  p {
    font-family: 'HavenirNext Regular';
    font-size: 2.5em;
  }
}





section.challenge-divider {
  width: 100%;
  height: 400px;
  background: url('../img/challenge-divider.png') no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  margin-top: -77px;
  margin-bottom: -120px;
  z-index: 1;

  .wrapper-divider {
    display: flex;
    justify-content: center;
  }

  .wrapper-divider--left,
  .wrapper-divider--center,
  .wrapper-divider--right {
    width: 33.333%;
    display: flex;
    justify-content: center;
    padding-top: 100px;
  }

  .wrapper-divider--left {
    padding-left: 120px;
  }
  
  .wrapper-divider--right {
    padding-right: 120px;
  }
}





section.challenge-how-it-works {
  width: 100%;
  height: 900px;
  background: url('../img/bg-challenge-how-it-works.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;

  h3 {
    position: absolute;
    left: 50%;
    top: 150px;
    font-size: 5em;
    transform: translateX(-50%);
    font-family: 'Fontfabric - Nexa Rust Slab Black Shadow 01';
  }

  .wrapper-how-it-works {
    width: 100%;
    height: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding-top: 150px;
  }

  .wrapper-how-it-works--left,
  .wrapper-how-it-works--center,
  .wrapper-how-it-works--right {
    position: relative;
  }

  .wrapper-how-it-works--center {
    .wrapper-how-it-works--content {
      top: 110px;
    }
  }

  .wrapper-how-it-works--right {
    .wrapper-how-it-works--content {
      top: 110px;
    }
  }

  .wrapper-how-it-works--content {
    position: absolute;
    width: 100%;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);

    p {
      font-size: 1.05em;
    }

    p.bottom {
      font-size: 1em;
      font-family: 'HavenirNext Regular';
      font-weight: 100;
    }
  }

  a.btn {
    position: absolute;
    left: 50%;
    bottom: 120px;
    transform: translateX(-50%);
  }
}



section.challenge-share {
  width: 100%;
  height: 684px;
  background: url('../img/bg-share.png') no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  margin-top: -120px;
  margin-bottom: -100px;
  z-index: 1;
  padding-top: 260px;

  h4 {
    font-family: 'Fontfabric - Nexa Rust Slab Black Shadow 01';
    font-size: 1.8em;
    position: relative;
    width: auto;
    max-width: 680px;
    margin: 0 auto;
    letter-spacing: 2px;
    margin-bottom: 20px;

    &:after {
      content: '';
      position: absolute;
      right: 80px;
      top: -5px;
      width: 219px;
      height: 46px;
      background: url('../img/bg-discont.png') no-repeat;
      background-size: contain;
      background-position: center;
      z-index: -1;
    }
  }

  p.text-white {
    font-weight: 100;
    font-size: 1.15em;
    font-family: 'HavenirNext Regular';
  }

  p.text-white.mini {
    font-size: .75em;
  }

  ul {
    display: flex;
    justify-content: center;
    margin: 25px 0;

    li {
      display: flex;
      justify-content: center;
      align-self: center;
      font-family: 'Fontfabric - Nexa Rust Slab Black Shadow 01';
      font-size: 1.1em;
      margin: 0 25px;
      letter-spacing: 1.4px;

      img {
        margin-right: 10px;
      }
    }
  }

  .share-wrapper-btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 140px;

    a.btn {
      min-width: 200px;
      display: inline-block;
      margin: 0 15px;
    }
  }
}


section.challenge-dish {
  width: 100%;
  height: auto;
  display: flex;

  .dish--left {
    width: 100%;
    height: 550px; 
    background: url('../img/bg-dish.jpg') no-repeat;
    position: relative;

    img {
      position: absolute;
      z-index: 2;
      right: 8%;
      top: -4%;
    }
  }

  .dish {
    width: 50%;
  }

  .dish--right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 100px;

    h4 {
      font-family: 'Fontfabric - Nexa Rust Slab Black Shadow 01';
      font-size: 2em;
      margin-bottom: 20px;
      padding-top: 50px;
    }
  }
}
