@media screen and (max-width: 1600px) {
  section.challenge-dish .dish--left img {
    right: 4%;
  }
}

@media screen and (max-width: 1440px) {
  section.challenge-dish .dish--left {
    height: 470px;
  }

  section.challenge-dish .dish--left img {
    right: 4%;
    width: 600px;
    height: 600px;
  }

  section.challenge-dish .dish--right {
    padding-left: 60px;
  }

  section.challenge-dish .dish--right h4 {
    padding-top: 70px;
  }
}

@media screen and (max-width: 1366px) {}

@media screen and (max-width: 1280px) {
  .container {
    max-width: 991px;
  }

  section.challenge-understand {
    .wrapper-understand--left ul>li {
      font-size: .95em;
    }

    .wrapper-understand--right .understand-top {
      width: 490px;
      height: 110px;
    }

    .wrapper-understand--right .understand-bottom {
      width: 490px;
      height: 220px;
    }

    .wrapper-understand--left ul > li {
      margin-bottom: 23px;
    }

    .wrapper-understand--right .understand--content {
      padding: 10px 20px 10px 120px;
    }

    .wrapper-understand--right .understand--content h4 {
      font-size: 1.6em;
    }

    .wrapper-understand--right .understand--content p {
      font-size: 1em;
    }
  } 

  section.challenge-share p.text-white {
    font-size: 1em;
  }

  section.challenge-share ul li {
    font-size: 1em;
    letter-spacing: 1px;
  }

  section.challenge-dish .dish--left img {
    right: 4%;
    width: 560px;
    height: 560px;
    top: 0;
  }
}

@media screen and (max-width: 1200px) {
  section.challenge-dish .dish--left {
    height: 420px;
  }

  section.challenge-dish .dish--left img {
    right: 4%;
    width: 500px;
    height: 500px;
    top: 0;
  }
  
  section.challenge-dish .dish--right h4 {
    padding-top: 90px;
    font-size: 1.8em;
  }
}

@media screen and (max-width: 1024px) {
  section.challenge-call {
    height: 500px;

    h3 {
      font-size: 3.5em;
    }

    p {
      font-size: 2em;
    }
  }

  .container {
    max-width: 100%;
    padding: 0 15px;
  }

  section.challenge-understand .wrapper-understand {
    flex-direction: column;
    align-items: center;
  }

  section.challenge-understand .wrapper-understand--left, 
  section.challenge-understand .wrapper-understand--right {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .wrapper-understand--left {
    padding-bottom: 20px;
  }

  section.challenge-share .share-wrapper-btn {
    bottom: 120px;
  }

  section.challenge-dish .dish--left img {
    right: 3%;
    width: 460px;
    height: 460px;
    top: 20px;
  }

  section.challenge-understand .wrapper-understand--right .understand--content p {
    font-size: .95em;
  }
}

@media screen and (max-width: 991px) {
  .challenge-understand {
    &:before,
    &:after {
      display: none;
    }
  }

  section.challenge-call {
    height: 400px;
    background-attachment: initial;
  }

  section.challenge-divider {
    width: 100%;
    height: auto;
    margin-top: 0;
    margin-bottom: 0;
    z-index: 1;
    background: $primary;
  }

  section.challenge-divider .wrapper-divider--center, 
  section.challenge-divider .wrapper-divider--left, 
  section.challenge-divider .wrapper-divider--right {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  section.challenge-how-it-works {
    height: auto;
    background-attachment: initial;
  }

  section.challenge-how-it-works h3 {
    top: 40px;
    font-size: 4em;
  }

  section.challenge-how-it-works .wrapper-how-it-works {
    width: 100%;
    height: 620px;
    padding-top: 100px;
  }

  section.challenge-how-it-works a.btn {
    bottom: 40px;
  }

  section.challenge-share {
    width: 100%;
    height: auto;
    background: $primary;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 50px;
    padding-bottom: 120px;
  }

  section.challenge-share .share-wrapper-btn {
    bottom: 30px;
  }

  section.challenge-dish .dish--left {
    display: none;
  }

  section.challenge-dish .dish {
    width: 100%;
  }

  section.challenge-dish {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  section.challenge-dish .dish--right {
    padding-left: 0;
    align-items: center;
  }

  section.challenge-dish .dish--right h4 {
    padding-top: 0;
    font-size: 1.8em;
    text-align: center;
  }

  section.challenge-understand {
    .understand-title img {
      width: 400px;
      height: 135px;
    }
  } 
}

@media screen and (max-width: 768px) {

  section.challenge-fullbanner {
    height: 400px;
    background: url('../img/challenge-fullbanner--mobile.jpg') no-repeat;
    background-size: cover;

    .btn {
      bottom: 60px;
    }
  }
}

@media screen and (max-width: 600px) {}

@media screen and (max-width: 525px) {}

@media screen and (max-width: 425px) {}

@media screen and (max-width: 375px) {}
